@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  

}

.container > * {
  margin-bottom: 50px; 
}

.forecast  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin-top: 20px;

  align-items: center;

 }

h1, h3 {
  font-size: xx-large;
}

.searchTerm {
  width: 50%;
  border: 4px solid #000000;
  border-right: none;
  padding: 10px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:#000000;
}

.button {
  border: 4px solid #000000;
  height: 40px;
  padding: 5px;
  background-color: rgb(209, 203, 203);
}
.forecastBox {
  border: 4px solid #000000;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.currentBox, .currentBoxImage {
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img.mainIcon {
  height: 150px;
  width: 150px;
}